.dozuki_grabbag_device_list_section_item_image {
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    transform: scale(.8);
    width: 100%;
    max-width: 60px;
    max-height: 50px;
}

.dozuki_grabbag_device_list_section_item_folder_image {
    margin-top: 5px;
}

.dozuki_grabbag_device_list_section_item_device_image {
    margin-top: 2px;
}

.dozuki_grabbag_device_guide_count {
    font-size: .6em;
    color: #888;
}
