button.close {
    font-size: 2.2em;
}

.modal-title {
    width: 100%;
}

.dozuki_grabbag_device_guide_link {
    margin: 20px;
    display: block;
    border: solid 1px silver;
    text-align: center;
    background: #f6f6f6;
}

.dozuki_grabbag_device_list_section_item_details {
    font-size: 1.2em;
}